@mixin setFonts($typeface, $size, $weight) {
  font-family: $typeface;
  font-size: $size;
  font-weight: $weight;
}

@mixin setFlex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
