@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&display=swap');

@import 'variables.scss';
@import 'mixins.scss';

html {
  font-size: 16px;
}

body {
  background-color: $background-white;
  font-family: $main-font;
}

.wrapper {
  display: flex;

  .side-nav {
    width: 110px;
    border-right: 2px solid $lighter-grey;

    .logo {
      margin-bottom: 5em;
      padding: 2em 0;

      img {
        height: 4em;
        margin: 0 auto;
      }
    }

    .menu {
      ul {
        li {
          margin-bottom: 3.6em;
          a {
            display: block;
            position: relative;

            img {
              height: 1.7em;
              margin: 0 auto;
              filter: grayscale(1);
            }

            .stroke {
              height: 1.7em;
              width: 3px;
              border-radius: 6px;
              background-color: $dark-blue;
              position: absolute;
              right: 0;
              top: 0;
              overflow: hidden;
              display: none;

              .half {
                height: 50%;
                width: inherit;
                background-color: $normal-green;
                display: block;
                position: absolute;
                bottom: 0;
              }
            }
          }

          &:hover {
            a {
              img {
                filter: grayscale(0);
              }
            }
          }

          &.active {
            a {
              img {
                filter: grayscale(0);
              }

              .stroke {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .content {
    width: 100%;
    .main {
      height: 100vh;
      padding: 2.5em 3em 0;
      border-right: 2px solid $lighter-grey;

      header {
        .title {
          h1 {
            @include setFonts($main-font, 2.55em, 600);
            text-transform: capitalize;
            line-height: 1.2em;
            color: $secondary-text;
          }

          span {
            @include setFonts($main-font, 1em, 500);
            display: block;
            color: $primary-text;
            margin-top: 0.4em;
          }
        }

        .search-bar {
          .grp {
            position: relative;

            img {
              height: 1.35em;
              display: inline-block;
              position: absolute;
              left: 18px;
              top: 50%;
              transform: translate(0, -50%);
            }
            input {
              display: block;
              padding: 14px 50px 14px 54px;
              border-radius: 50px;
              width: 100%;
              outline: none;
              background: linear-gradient(90deg, $off-blue, #f4f7fc);
            }
          }
        }
      }
    }
    .profile-area {
      height: 100vh;
    }
  }
}
