@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&display=swap');

@import 'variables.scss';
@import 'mixins.scss';

html {
  font-size: 16px;
}

body {
  background-color: $background-white;
  font-family: $main-font;
}

.wrapper {
  display: flex;

  .side-nav {
    width: 110px;
    border-right: 2px solid $lighter-grey;

    .logo {
      margin-bottom: 5em;
      padding: 2em 0;

      img {
        height: 4em;
        margin: 0 auto;
      }
    }

    .menu {
      ul {
        li {
          margin-bottom: 3.6em;
          a {
            display: block;
            position: relative;

            img {
              height: 1.7em;
              margin: 0 auto;
              filter: grayscale(1);
            }

            .stroke {
              height: 1.7em;
              width: 3px;
              border-radius: 6px;
              background-color: $dark-blue;
              position: absolute;
              right: 0;
              top: 0;
              overflow: hidden;
              display: none;

              .half {
                height: 50%;
                width: inherit;
                background-color: $normal-green;
                display: block;
                position: absolute;
                bottom: 0;
              }
            }
          }

          &:hover {
            a {
              img {
                filter: grayscale(0);
              }
            }
          }

          &.active {
            a {
              img {
                filter: grayscale(0);
              }

              .stroke {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .content {
    width: 100%;
    .main {
      height: 100vh;
      padding: 2.5em 3em 0;
      border-right: 2px solid $lighter-grey;

      header {
        .title {
          h1 {
            @include setFonts($main-font, 2.55em, 600);
            text-transform: capitalize;
            line-height: 1.2em;
            color: $secondary-text;
          }

          span {
            @include setFonts($main-font, 1em, 500);
            display: block;
            color: $primary-text;
            margin-top: 0.4em;
          }
        }

        .search-bar {
          .grp {
            position: relative;

            img {
              height: 1.35em;
              display: inline-block;
              position: absolute;
              left: 18px;
              top: 50%;
              transform: translate(0, -50%);
            }
            input {
              display: block;
              padding: 14px 50px 14px 54px;
              border-radius: 50px;
              width: 100%;
              outline: none;
              background: linear-gradient(90deg, $off-blue, #f4f7fc);
            }
          }
        }
      }

      .dashboard-area {
        margin-top: 3em;
        .productivity-listing {
          .pro-bar {
            background-color: $light-green;
            padding: 0.95em;
            color: $secondary-text;
            margin-bottom: 1.2em;
            @include setFlex(space-between, center, row);
            border-radius: 1em;
            box-sizing: border-box;
            box-shadow: 0 6px 10px rgb(1 86 91 / 5%);

            &:nth-child(2) {
              background-color: $normal-green;
              color: $background-white;

              .chart {
                svg {
                  fill: $light-green;
                  transform: scale(-1, 1);
                }
              }

              .time-area {
                &::before {
                  background-color: $light-green;
                }
              }
            }
            &:nth-child(3) {
              background-color: $dark-blue;
              color: $background-white;

              .chart {
                svg {
                  fill: $light-green;
                  transform: scale(-1, 1) rotate(180deg);
                }
              }

              .time-area {
                &::before {
                  background-color: $primary-text;
                }
              }
            }
          }
        }

        .percent-area {
          @include setFlex(start, center, row);
          width: 50%;

          .date-tag {
            @include setFlex(initial, center, column);
            background-color: $background-white;
            padding: 0.6em 1.25em;
            border-radius: 0.7em;
            box-sizing: border-box;
            margin-right: 2.5em;
            position: relative;
            box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);

            .date,
            .day {
              display: block;
              position: relative;
              z-index: 99;
            }

            .day {
              text-transform: capitalize;
              font-size: 0.875em;
              font-weight: 500;
              color: $primary-text;
            }
            .date {
              text-transform: capitalize;
              font-size: 2em;
              font-weight: 600;
              color: $secondary-text;
            }
            &::after {
              content: '';
              display: block;
              height: 40px;
              width: 40px;
              background-color: $background-white;
              position: absolute;
              top: 50%;
              right: -18px;
              border-radius: 6px;
              transform: translate(0, -50%) rotate(45deg) skew(25deg, 25deg);
            }
          }
          .fancy-chart {
            .chart-title {
              text-transform: capitalize;
              @include setFonts($main-font, 0.875em, 600);
            }
            .chart {
              @include setFlex(space-between, flex-start, row);
              position: relative;
              top: 0.7em;

              svg {
                fill: $dark-blue;
                height: 1em;
                width: 5.6em;
              }
              .percent-count {
                display: block;
                position: relative;
                left: 1em;
                bottom: 0.5em;
                background-color: $background-white;
                padding: 3px 9px;
                box-sizing: border-box;
                border-radius: 20px;
                font-size: 0.85em;
                font-weight: 600;
                color: $secondary-text;
              }
            }
          }
        }

        .time-area {
          @include setFlex(flex-start, flex-start, initial);
          width: 50%;
          position: relative;

          .grp {
            margin-left: 2em;
            .title {
              text-transform: capitalize;
              @include setFonts($main-font, 0.875em, 600);
            }
            .time {
              text-transform: capitalize;
              @include setFonts($main-font, 1.125em, 700);
            }
          }

          &::before {
            content: '';
            display: block;
            height: 50%;
            width: 1px;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            background-color: $normal-green;
          }
        }

        .h-title {
          @include setFonts($main-font, 1.75em, 600);
          color: $secondary-text;
          text-align: center;
        }

        .monthly-statistics {
          .statistics-chart {
            width: 10.5em;
            height: 10.5em;
            margin: 0 auto;
            margin-top: 1.5em;
            margin-bottom: 1.65em;
            position: relative;
            @include setFlex(center, center, initial);

            svg {
              fill: none;
              stroke: $dark-blue;
              stroke-width: 0.1em;
              stroke-dasharray: 58px;
              stroke-linecap: round;
              transform: rotate(65deg);
              position: absolute;
              z-index: 99;

              &:nth-child(2) {
                stroke: $normal-green;
                transform: rotate(35deg);
                z-index: 98;
              }
              &:nth-child(3) {
                stroke: $light-green;
                transform: rotate(0deg);
                z-index: 97;
              }
              &:nth-child(4) {
                stroke: $off-blue;
                transform: rotate(0deg);
                stroke-dasharray: 100px;
                z-index: 96;
              }
            }

            .decal-circle {
              width: 4.5em;
              height: 4.5em;
              border-radius: 50%;
              display: inline-block;
              background-color: $light-green;
              position: absolute;
            }

            .rocket {
              height: 5em;
              position: absolute;
              bottom: 1em;
            }
          }

          .statistics-progress {
            @include setFlex(space-between, initial, column);
            height: 9.3em;

            .stat {
              .top-area {
                @include setFlex(space-between, initial, initial);
                .stat-title {
                  color: $primary-text;
                  font-weight: 500;
                }

                .stat-percentage {
                  color: $secondary-text;
                  font-weight: 700;
                }
              }

              .stat-line {
                margin-top: 0.35em;

                .outer {
                  display: block;
                  width: 100%;
                  height: 0.4em;
                  border-radius: 25px;
                  background-color: $lighter-grey;
                  overflow: hidden;

                  .inner {
                    display: block;
                    height: inherit;
                    width: 40%;
                    border-radius: 25px;
                    background-color: $normal-green;
                  }
                }
              }

              &:nth-child(2) {
                .outer {
                  .inner {
                    width: 80%;
                    background-color: $dark-blue;
                  }
                }
              }
              &:nth-child(3) {
                .outer {
                  .inner {
                    width: 25%;
                    background-color: $light-green;
                  }
                }
              }
            }
          }
        }

        .upcoming-activity {
          .h-title {
            text-align: left;
          }

          .activity-chart {
            position: relative;
            display: flex;
            margin-top: 4em;
            height: 27.9em;
            // flex-direction: row-reverse;
            table {
              height: 25.6em;
              position: relative;
              left: 60px;
              thead {
                .graph-time {
                  th {
                    position: relative;
                    text-align: left;
                    left: -20px;
                    bottom: 1.75em;
                    @include setFonts($main-font, 0.9em, 600);
                    color: $primary-text;
                  }
                }
              }

              tbody {
                .graph-col {
                  .bar {
                    width: 5em;
                    border-left: 2px solid $lighter-grey;
                    position: relative;
                  }
                }
              }
            }

            .graph-days {
              overflow: hidden;
              position: absolute;
              top: 1.75em;
              bottom: 0;

              .g-day {
                height: 2.5em;
                margin-bottom: 1.4em;
                @include setFlex(initial, center, initial);

                .title {
                  width: 2.2em;
                  @include setFonts($main-font, 0.9em, 500);
                  color: $primary-text;
                  text-transform: capitalize;

                  &.active {
                    font-weight: 700;
                    color: $dark-blue;
                  }
                }

                .tag {
                  position: relative;
                  left: 1.65em;

                  .content {
                    background-color: $light-green;
                    height: 3em;
                    padding: 0 2em;
                    @include setFlex(center, center, initial);
                    text-align: center;
                    border-radius: 0.8em;

                    .tag-title {
                      @include setFonts($main-font, 0.9em, 600);
                      color: $dark-blue;
                      position: relative;

                      &::before {
                        content: '';
                        position: absolute;
                        width: 0.4em;
                        height: 0.4em;
                        border-radius: 50%;
                        top: 50%;
                        transform: translate(0, -50%);
                        left: -1.2em;
                        display: block;
                        background-color: $dark-blue;
                      }
                    }

                    &::after {
                      content: '';
                      display: block;
                      width: 28px;
                      height: 28px;
                      border-radius: 4px;
                      background-color: $light-green;
                      position: absolute;
                      right: -9px;
                      top: 50%;
                      transform: translate(0, -50%) rotate(45deg)
                        skew(5deg, 5deg);
                    }
                  }
                }

                &:nth-child(4) {
                  .tag {
                    left: 16.7em;
                    .content {
                      background-color: $normal-green;
                      &::after {
                        background-color: $normal-green;
                      }
                    }

                    .tag-title {
                      color: $background-white;
                      &::before {
                        background-color: $background-white;
                      }
                    }
                  }
                }
                &:nth-child(5) {
                  .tag {
                    left: 11em;
                    .content {
                      background-color: $dark-blue;
                      &::after {
                        background-color: $dark-blue;
                      }
                    }

                    .tag-title {
                      color: $light-green;
                      &::before {
                        background-color: $light-green;
                      }
                    }
                  }
                }
                &:nth-child(7) {
                  .tag {
                    left: 21.6em;
                    .content {
                      background-color: $off-blue;
                      &::after {
                        background-color: $off-blue;
                      }
                    }

                    .tag-title {
                      color: $dark-blue;
                      &::before {
                        background-color: $dark-blue;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .profile-area {
      height: 100vh;
    }
  }
}
